{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .products {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
            margin-top: 20px;
            flex-wrap: wrap;
        }

    </style>
    <form action="/products/" method="get">
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>

    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img style="width: 100%" src='{{ product.image.url }}' alt="">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <h5 class="card-title">Price:{{ product.price }}som</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Rate:{{ product.rate }}</h6>
                    <a href="/products/{{ product.id }}" class="card-link">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in pages %}
            <a href="/products/?page={{ page }}">
                <button>{{ page }}</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}